<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>senderCell</string>
			<key>type</key>
			<string>from</string>
			<key>value</key>
			<string></string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>72.0</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>senderSubjectCell</string>
			<key>type</key>
			<string>subject</string>
			<key>value</key>
			<string></string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>72.0</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>senderBodyCell</string>
			<key>type</key>
			<string>content</string>
			<key>value</key>
			<string></string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>200.0</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>attachmentsCell</string>
			<key>type</key>
			<string>attachment</string>
			<key>value</key>
			<string></string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>200.0</string>
		</dict>
	</array>
</dict>
</plist>
