<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>recipientCell</string>
			<key>type</key>
			<string>to</string>
			<key>title</key>
			<string>MailComp.To</string>
			<key>value</key>
			<string></string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>64.0</string>
			<key>contactSuggestion</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>recipientCell</string>
			<key>type</key>
			<string>cc</string>
			<key>title</key>
			<string>MailComp.Cc</string>
			<key>value</key>
			<string></string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>64.0</string>
			<key>contactSuggestion</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>recipientCell</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<string>bcc</string>
			<key>title</key>
			<string>MailComp.Bcc</string>
			<key>visible</key>
			<string>conditional</string>
			<key>height</key>
			<string>64.0</string>
			<key>contactSuggestion</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>accountCell</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<string>from</string>
			<key>title</key>
			<string>MailComp.From</string>
			<key>visible</key>
			<string>conditional</string>
			<key>height</key>
			<string>64.0</string>
			<key>expanded</key>
			<string>190.0</string>
			<key>contactSuggestion</key>
			<false/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>subjectCell</string>
			<key>value</key>
			<string></string>
			<key>type</key>
			<string>subject</string>
			<key>title</key>
			<string>MailComp.Subject</string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>64.0</string>
			<key>contactSuggestion</key>
			<false/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>composeCell</string>
			<key>value</key>
			<string></string>
			<key>title</key>
			<string></string>
			<key>type</key>
			<string>content</string>
			<key>visible</key>
			<string>always</string>
			<key>height</key>
			<string>240.0</string>
			<key>contactSuggestion</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
