<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>planck_extra_keys</key>
	<array>
		<dict>
			<key>extra_key_fingerprint</key>
			<string>3F8B 5F3D A55B 39F1 DF6D  E37B 6E9B 9F4A 3035 FCE3</string>
			<key>extra_key_material</key>
			<string>-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: 3F8B 5F3D A55B 39F1 DF6D  E37B 6E9B 9F4A 3035 FCE3
Comment: extra &lt;proxy@test.com&gt;

xjMEY9OobxYJKwYBBAHaRw8BAQdADRQay4tPfxu2PIJ6sw6Z4gZDXESaX1KZZ1nE
KkGTpXbCwBEEHxYKAIMFgmPTqG8FiQWkj70DCwkHCRBum59KMDX840cUAAAAAAAe
ACBzYWx0QG5vdGF0aW9ucy5zZXF1b2lhLXBncC5vcmemVc1Oks1c7Q20Bi9S4uqY
/aMiGCiOOBLVlaO8A6crqAMVCggCmwECHgEWIQQ/i189pVs58d9t43tum59KMDX8
4wAA0RUBAL72eYxNQsb870U4/FPYy09JJjPoP3S/B3d9ukESJsj9AQDSq4ZTkVlV
Vmr6F7kug0QrJFUw3QUN6QHY9o/R58gdCM0WZXh0cmEgPHByb3h5QHRlc3QuY29t
PsLAFAQTFgoAhgWCY9OobwWJBaSPvQMLCQcJEG6bn0owNfzjRxQAAAAAAB4AIHNh
bHRAbm90YXRpb25zLnNlcXVvaWEtcGdwLm9yZ4s/ECQ65y474Vv/OcvtQ8TCNW2C
B3/pPefhdmuaRMdOAxUKCAKZAQKbAQIeARYhBD+LXz2lWznx323je26bn0owNfzj
AAB8rgD+I6tMohBEe8n2yQzzPF3FE/khvMmuRu2thaHDTj/NJpYBAPU9M015gmIo
Qp3/ANvyhk+Hhmb3W+3gsfSahxUMch8BzjMEY9OobxYJKwYBBAHaRw8BAQdAYw/o
1mcxmA9Te+BcqSq/fJfGyCIfx8BGdzChqc46S6PCwMUEGBYKATcFgmPTqG8FiQWk
j70JEG6bn0owNfzjRxQAAAAAAB4AIHNhbHRAbm90YXRpb25zLnNlcXVvaWEtcGdw
Lm9yZy5HwRxJeUoo9gdOpODjbR5WUrHP6/6c3a9R7EKm7tORApsCvqAEGRYKAG8F
gmPTqG8JELenC8Ru3wVJRxQAAAAAAB4AIHNhbHRAbm90YXRpb25zLnNlcXVvaWEt
cGdwLm9yZ5n5hjBo5RiBvQ9um/5prc+WqU/GVF4fR59DBt6Ni1IpFiEENSJK/hRb
zQVliB0Ft6cLxG7fBUkAAGAKAQDCWUOzYaWyAlABJCm+FgWjnthMaeu8FX1RV8b6
XjiFVAD9FkMKGTDDLqMR7zwlxaQ2t7LGY9GZEx5DFXW7xI6wygIWIQQ/i189pVs5
8d9t43tum59KMDX84wAAp+oBALdz0zReTPvTJmFCJ+LEeqYdHlqAusIhucVK4N+r
hiRrAP0SRP/XACsC8ZmWz1qcNJuwO5q/xTeRBF0pQferTgCoAM44BGPTqG8SCisG
AQQBl1UBBQEBB0Ax/XPYhV9efNY/5uZNR/XqOxKNsM4RJ/qgRzNe/BWQfwMBCAnC
wAYEGBYKAHgFgmPTqG8FiQWkj70JEG6bn0owNfzjRxQAAAAAAB4AIHNhbHRAbm90
YXRpb25zLnNlcXVvaWEtcGdwLm9yZ1dVtJPgoxcg/bVHcMs4ptcC2RlJogv9dvfp
MkhFzlLlApsMFiEEP4tfPaVbOfHfbeN7bpufSjA1/OMAAKVZAQC5eH4MHIE3CFZt
DaBgtluEjuDTeNWdV4h90giEvB4m8QD/QPSUGhpANzcDHwf1k7+kl0Kwyqevt/B6
kHyyE2Di4QM=
=bDOe
-----END PGP PUBLIC KEY BLOCK-----
</string>
		</dict>
	</array>
	<key>pep_enable_privacy_protection</key>
	<true/>
	<key>pep_use_trustwords</key>
	<true/>
	<key>unsecure_delivery_warning</key>
	<true/>
	<key>pep_sync_folder</key>
	<true/>
	<key>debug_logging</key>
	<true/>
	<key>pep_enable_echo_protocol</key>
	<false/>
	<key>account_display_count</key>
	<integer>250</integer>
	<key>max_push_folders</key>
	<integer>25</integer>
	<key>account_description</key>
	<string>plancktest</string>
	<key>composition_settings</key>
	<dict>
		<key>composition_sender_name</key>
		<string>PLANCK QA TESTING</string>
		<key>composition_use_signature</key>
		<true/>
		<key>composition_signature</key>
		<string>--  Sent from my planck for iOS. </string>
		<key>composition_signature_before_quoted_message</key>
		<true/>
	</dict>
	<key>default_quoted_text_shown</key>
	<true/>
	<key>remote_search_enabled</key>
	<true/>
	<key>account_remote_search_num_results</key>
	<integer>50</integer>
	<key>pep_save_encrypted_on_server</key>
	<true/>
	<key>pep_enable_sync_account</key>
	<false/>
	<key>allow_pep_sync_new_devices</key>
	<false/>
	<key>pep_mail_settings</key>
	<dict>
		<key>account_email_address</key>
		<string>iostest021@planck.dev</string>
		<key>incoming_mail_settings</key>
		<dict>
			<key>incoming_mail_settings_server</key>
			<string>planck.dev</string>
			<key>incoming_mail_settings_security_type</key>
			<string>SSL/TLS</string>
			<key>incoming_mail_settings_port</key>
			<integer>993</integer>
			<key>incoming_mail_settings_user_name</key>
			<string>iostest021@planck.dev</string>
			<key>incoming_mail_settings_auth_type</key>
			<string>PLAIN</string>
		</dict>
		<key>outgoing_mail_settings</key>
		<dict>
			<key>outgoing_mail_settings_server</key>
			<string>planck.dev</string>
			<key>outgoing_mail_settings_security_type</key>
			<string>STARTTLS</string>
			<key>outgoing_mail_settings_port</key>
			<integer>587</integer>
			<key>outgoing_mail_settings_user_name</key>
			<string>iostest021@planck.dev</string>
			<key>outgoing_mail_settings_auth_type</key>
			<string>PLAIN</string>
		</dict>
	</dict>
</dict>
</plist>
