<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
    <key>pep_extra_keys</key>
    <array>
        <dict>
            <key>extra_key_fingerprint</key>
            <string>3F8B5F3DA55B39F1DF6DE37B6E9B9F4A3035FCE3</string>
            <key>extra_key_material</key>
            <string>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGTjGEEBEAD67GHJTGja4mvviS0vpc7bf2dexM75gnMOchexEJKQw5rv6Pgm
1fPyuG6Hn6O94SuvLcR8nBzeORbnkhunoKBxqKqdS8nbAzRcB+iNxlGVQVKF45CN
P3h6XqXGYKG+WVSenkvyASMLkpBiAmsx5kSrN6BWpf4a+kYWmI2HQPq8fSK3tVNp
H2SItRiSr9s+alqyd0YvYx/IBBkTjOEspKyx2/FjpxDMlWnXNfhpkN2cp3LilKHw
sH8WV0wHA2xLjAhjlIODA6msM9cPE6ttzen3ILDzZrbC+fH0moB556NzsnwNjn/q
cS5S39QFhake1W8hn/KiUdJS4AQ5vOFPC5YVQWEONCjw1x35iM4cyGcg3RkaEgRI
AgmNu46Tdv7dtIS6LA/KDnDVbRf/tpbG+TLEo8LkZuMNYL9vJk8iEko9k4gTVM0D
ckI7G2yux+xhYvgk4/wYbfgPNa8jzXF+AxO0hFI3cnkpiHiKm/8updsmN7zjc8x/
OL5hWdoThWxpoO0AM+edgr5qsF9BGG6E97LM9WlstJCzcMtDEoAe03FknM6huFDB
J497uJyGIj5TkXwi/UQZkOTriwbE9DPlLlHiGAqyYjsWyLWFilwVBBTllCEiXVb7
BYlCGuT4SSYndzXfyBqGc/YeorMEAKa9GkZ1Vrf1yLUTJXMyY4XF5xwqIQARAQAB
tB5NYXJ0aW4gPGV4dHJhX2tleUBleGFtcGxlLmNvbT6JAlcEEwEIAEEWIQSEQgTU
vVAc5rgdMxO8rE7ZeQhl/QUCZOMYQQIbAwUJA8JnAAULCQgHAgIiAgYVCgkICwIE
FgIDAQIeBwIXgAAKCRC8rE7ZeQhl/Q25EAC7bK1pVgPP1IsLcOf5q3RH3aM1pDmV
O1rAyBYJHuR5l137Gmt9rppvnGQqWLLQLbDLPRuL+q1xdcT4z7wn3N5s2JXOOvUP
IFm3dt++ezGWMT5AHejWZrR5r0PHVqImd4EN25qs7Lu+q6Pn3je3C8PPEolha9XS
wmhAEYk8MbC+p2fkedPlzFlnQHcC7FJ3JL3VraW3apUEgcM7YKnGHIMjj/OCwhd3
6B6RWzVEi1azhVAUtSeXI4aIGfAc9V9tzPUigEni1Ww08xtu6XvSsSvUY8dJVRGg
pZFmkfDpnMHMN2puV8tpMMAmvNm3d9NubLT7nqDa3WWnejr4+wXTmTyDdTi/HEWK
Nw9eBMIx20/w8zjBV7+j2vI0QNXqL6ZGlhoiWAKgfc05plcmShxucYAyreNx1Qhl
xE1WlyNbQYxgyzyBpNEO8WluecoSLzvoGKuAqeLssBkQ1B6IwzPt5qJ0zxznVH73
Kb2X7KfDK/Nm/lnY36oiNeiOmqwUG+irbXTfg1Sca/m9VL/YFA2htexm9N+8UAWI
X1qeoKm3Eb7IL1i0m+6AT3o7daN6Awc65ApFShIDBd0xg1et/xvsaeDLY1nRbXkN
u5WGfG6AnywJuN8/yfubD4CDsAoYx83LQdZOn3ayBaDCTBu+EBv2MpZx8Yqh1CxQ
9F5cr6hOFnBIepkCDQRk6LdWARAAx1x+/8FtJ4U3HhwwCYdJVXlx/yZ1QGvVgZTY
SVC0fphugJYewFMe6ssIh2pg5TjNH1v+eNHKn5eTcg5FXwEZMDbh0TzhY5yEmqt4
2yjdQ2XXu5kb/enITpre8FsUWupxWezPfhsz+IR4mpQ7meiv6Ks8qUfy4j2hNn1h
OH4cDARJ3U6xNrD3POWPjMZCsMou62l09bzOyfryZiqfVKBwy3M6+ix9Kto6JD+6
ENeMRVsK0dzO5OPhSQ+hXVc/pdEPn+tx6mZ+i6BNbisS9iseIzsIIh7HdOLsVUbK
SFChxQogKNbQVglBWTzKZ/vptJGgTndJSSUqvMS9AdCIP5Dq0wnsjSeSxy/27Y/w
EuCWjc3+9lZR3BfDs38MvefBZ3i6GgDsBHQ4i97qN9AUyz63y4ia97wRc5mi9NdV
bttdv6l0iX0XNs/9q4oLteRO4NhMneV/7ch50LsAMJ4gwO3ZIbVvhJ5DzTrr0Gxk
McMg3zvDMuYIvChhzU/buLocmgJ+egVawII8/XP2slAc8tWplIRe1wIjAG6Hpw+M
j0zL9+AAWTANc8XBrm1GMs2d1wrVxEDh1l1te61YZfBEVeoxGcrmTbwcHG8sbSf7
h19AyEsorvz4ZrPjdr1IQOt18SHw7G9G9BNb7AE5tq+RtBOMwdQhL9ClaiD2dJ/E
tjZmrQkAEQEAAbQbTWFydGluIDxtYkBwbGFuY2suc2VjdXJpdHk+iQJXBBMBCABB
FiEE5diFZd33K13JiAO6AQq8uxLIV4gFAmTot1YCGwMFCQPCZwAFCwkIBwICIgIG
FQoJCAsCBBYCAwECHgcCF4AACgkQAQq8uxLIV4i/zg//dMc1Uj23gq2ZlNSjDQeD
HdTutLIZbSl0KHrzc+VPzRNdxfH+tXwa3APSdnwGgzSOMNCbD6C0NbcPuyZplvan
i/jF9l5+Ngi5C/f/UtBFoFpMV5sL0wOlIvXJXWbrlGfaYA80ciNETTsBiRTQajEZ
SRCKBAPWy0lx4SYdoduziOhU0r1JonqTMp8SL/j3TuNPRQo5sxKFyKstuCZ/lnz8
XVcIFdUWsUze3wWJzUhIXv7QA25WEhQhpNdsy74VxtCG33ZKEvvL/HhfT/ixZqxv
DUYUx34ijecgd0aQ/RgDJdhKKcTLLHkvRNcGNitqEi63hL+HP/hyJS4yI0eCjuDU
qZ3/h5Vps1/kISU63XlJXFM/wrYDQx81iCdkvkIsP1/q+lAJH6p9YxAcdhJRL6Lf
radeWu6CKB2gMUnL/RgGOlQQQKPNok/OK2QdEvqK7qdC0hJwdJHSrAt37y6KHwrr
imZ4KfGyjlnVk2Yt6FyHYxJwNtcTcmWgqU0Vc3+d2CY8MvDdfYD6+F/Wtdu4IJ7u
Z0zleFQCcijW160iqIysEdCxrOnRxq2Xdl0AOOpa8U0RV7TY/mxu5MZDPF0vuLPg
r/h6x2X/LUYPyXhTBqb8PVIWFfusBsUZlcMuPK2o1rZDEcRfGudIn6GUdJkHH+yg
mcPHy6d8hC4+4GyEZLU/d36ZAg0EZOi3hAEQAMpHRZPbnW0i0WSth4+HAMy/2En0
R87mP8PVBrPNfSgWGkN3XEqzXd0KaxRinYy0j2pchFdTnErm5LrZIKjJh0xXQsmK
eprjCD0TeoWjyApPjAyk1410y9ezlQ0bN9XyI+sqxcLiFLa/axLNvkO5Y0eW083z
7YZ7ZgY740lTbKjqITquwkjdHaHFb5lY+9ZLkdTm9dGNfu1sqO9TLmN2A7OvhnPj
KL2JzDapk1dYKepIFYTO4lHeJ5L3tFDnJMpc45m3hhjZbPILJFIyFBezv/NLFDrm
qR7EpettPqW398b/pXLxdf9SyWjDJQED8GX5KJQqi3RMzVnIVh/fm55RoDWaSL6/
TX/VFrnEzzTiB3aoY/nSV6lcEmVQzkNDwzx8GwvNnCgQIIsV+vPvyymoWT9vTYeC
oMIIVMN3o8Ie9amBBHdFYwgeHDxTEuC98EXi4aZaYUNFSnrLNbzI4lYHScgcffSy
NEd85XJicyLsGHz6Tfi+V+KfzO2TwloXsD+a1WBJhX3dMdwv7AooA3DcGdpbzfVW
/LXodrADfdTU3NJ0Ddrg2eTeBhSr+fGvupJSD5rbo9oYpCkNc4858hpenxscCZW5
eWjgbOi5P4eQgZyx/lLPTjiReLyX9hrZEu8A16n9+4Y5kEGg7gqAGixfKXyKdy/n
lryWni4Z0LG6zoWDABEBAAG0G01hcnRpbiA8bWJAcGxhbmNrLnNlY3VyaXR5PokC
VwQTAQgAQRYhBCDtIuIlbRpVNEr14INiOZx3gS/bBQJk6LeEAhsDBQkDwmcABQsJ
CAcCAiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEINiOZx3gS/bh38P/ijPXkq8NWY6
0LxdMCkka30ITjiXuWVyyWnVLU+aXxWCLipRNdMcr7tcK/Og1sduLiN65LSysAHF
pY6zgzj/1Z06bp0nc/iUVYXkZaosdFav3J+1+PxVHb04IaX9Eqnxit/IACNtax36
gr2/dc1alpC9onDgLfdHoxO1yeBwaNtIsMcaJV8vAigEvg4VtN9rrW1Y3atcjvsw
x0bJ+tE6BKH1b69JIZBRX73GYm125mbGZZh+q3A55hxln7r7buwkRCFK06kti3kY
wc5MkrLXDzk5ZZWQsxu7/p49l5k+NurRfXDJ14AjE5M0iK0UZUJbIDj6affirpNZ
OzR5VxkwN+kRr060cyR1q6BkEHrx4TIsKZKhsHJ+A/Ws8rBxpt/WqMY/cFZYEzYs
5sdD7oBND06DSlNKnCis1IcaDZ9tatoxw/ZZXzMNGkqpaxgdrcsaZX+1f4HgaXsq
37LtTwa2zqwgoMAOQBjBJem9EYoTK3wksO8IGBlDr1UvuqcgL1neAwOOeQqsLVpt
N46GUuvbQq7DBPw4qfa6/CbMVXmq1RfbCZXxTRTmae/H8Ou4QY+6AYF1jVEra5L8
A+PzOb7/AaKdSZYurugrw1P79DtXOnp+S0r83+0RliC80WPAocLeZfuJN1RuQABP
GwieCxtMKbGRIwtd4FGGEScaq/E5w1F3mDMEZOxT+RYJKwYBBAHaRw8BAQdAm8xs
ZmfX2Xe+ToLqhAva2f4VuCg1el/yOwWNL0u++Wi0G01hcnRpbiA8bWJAcGxhbmNr
LnNlY3VyaXR5PoiTBBMWCgA7FiEESbznGBzk/N/Xta5mKM+tgl4/av8FAmTsU/kC
GwMFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQKM+tgl4/av9GJAEAi8bP
CMmRU1eAYQ2dL7HCxAqjBPURi+HsgJKkygF1C2IA/2Sk0K+USZSe9GmJOAuA8UcM
/6sc89aq/oVbwKLptI4GuDgEZOxT+RIKKwYBBAGXVQEFAQEHQGiS7PZXnR2OJOQ3
T8lQNp+XXAMKvkEL5xAjNh+DoaIxAwEIB4h4BBgWCgAgFiEESbznGBzk/N/Xta5m
KM+tgl4/av8FAmTsU/kCGwwACgkQKM+tgl4/av9vfwEAhq2Imttk4nTT4wCKVAZ5
kU7nyLTLGE9omJXcJhYIajMBAKC1uStJ/gz+AXrtTQI3Wxk/ketVhDpj4uhyTlzH
lo0FmDMEZOxaeRYJKwYBBAHaRw8BAQdAtqCxyvum8OKwayT69ABW+zEuGGBylmAx
OlJiOLZKeTK0G01hcnRpbiA8bWJAcGxhbmNrLnNlY3VyaXR5PoiTBBMWCgA7FiEE
h0XboVJZ4KGjFTvfSbyU1klyNssFAmTsWnkCGwMFCwkIBwICIgIGFQoJCAsCBBYC
AwECHgcCF4AACgkQSbyU1klyNsvUugEA7fUAJ+RZBKzkp/2vsO/54DswF40WheE2
w+RC+QRjheYA/1sNDpJ80mxhJablAPQ+QIC31Xj4hd4uc8Hl09R9d50BuDgEZOxa
eRIKKwYBBAGXVQEFAQEHQH1g4bPDGykf4J+cW7hXfIv4YRq1I2N5BCfuPzwYDddV
AwEIB4h4BBgWCgAgFiEEh0XboVJZ4KGjFTvfSbyU1klyNssFAmTsWnkCGwwACgkQ
SbyU1klyNsuHigD/Q6DnoTX25DK7hbKZ0lEoI7DtDUzdxK/mwl/XfTP0Zj8BAJjK
OcTSU5PGkODsu3jYAR0b3SABlyYkH5dbtaKVaH4PmDMEZO9DfBYJKwYBBAHaRw8B
AQdAH8V65p5yOi88TMbIENNXeYCrOcNACYU0cT+vpz6ttYi0KE1hcnRpbiAobm8g
Y29tbWVudCkgPG1iQHBsYW5jay5zZWN1cml0eT6IkwQTFgoAOxYhBJsIaIC0JgAq
/7/Er4Awfi/0lQANBQJk70N8AhsDBQsJCAcCAiICBhUKCQgLAgQWAgMBAh4HAheA
AAoJEIAwfi/0lQAN7DwA/Rp+FFfsfUrGE8zm36Q1nocf7h7VrXSpydTFlNrjhNyb
AQDrQJChZsSGeVWOFyjcYwjbNGmrGD8U+cy0UGafoItRDrg4BGTvQ3wSCisGAQQB
l1UBBQEBB0Ah1+MrKc4dC+XWv/OS0cBvJrXCicgfjJ41rL43Y4mLKAMBCAeIeAQY
FgoAIBYhBJsIaIC0JgAq/7/Er4Awfi/0lQANBQJk70N8AhsMAAoJEIAwfi/0lQAN
6JYA/3yxZYnMJ6/jURHXae+x5tXsjFgOeZoOP6pUOX+t2rcBAQDcXHcqYstNFE+k
TpR7TUG0PiQNPExQdYZrow+iRj+0BJgzBGTvReAWCSsGAQQB2kcPAQEHQFXOJ+8a
CMPOgxGKrVInu0Kaz1glpkkyCdVI3CNu/Z2GtCxNYXJ0aW4gKGV4dHJhIGtleSB0
ZXN0KSA8bWJAcGxhbmNrLnNlY3VyaXR5PoiTBBMWCgA7FiEEn0Iu6ypq4webz0dG
3Qh0NUfBGC8FAmTvReACGwMFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQ
3Qh0NUfBGC84iwEA6f1qnUMi2KX6450VppudVt9fbaNuPf7XzHJ9qhpss64A/RLs
PxUHSoPNiTKK4zg5G/vfcMSkUwVIFVaMwDnOnrkCuDgEZO9F4BIKKwYBBAGXVQEF
AQEHQEfNU1yz5/gmHR5jsK1zLFP6Ot/HqA14VaVY324VTYQLAwEIB4h4BBgWCgAg
FiEEn0Iu6ypq4webz0dG3Qh0NUfBGC8FAmTvReACGwwACgkQ3Qh0NUfBGC/LagD+
I/6JHCSBgLpbKiGOb36b2awSP7YFGgWIeRKGa0t/AiQBAJobOXgWB8NNmy3M0GFV
aTB21oiVMVsCpc2oNitxS48J
=XAsf
-----END PGP PUBLIC KEY BLOCK-----
            </string>
        </dict>
    </array>
    <key>pep_enable_privacy_protection</key>
    <true/>
    <key>pep_media_keys</key>
    <array>
        <dict>
            <key>media_key_address_pattern</key>
            <string>*@planck.dev</string>
            <key>media_key_fingerprint</key>
            <string>A127E86CA004251B62CE0B0F5DC7D5792C8C16EF</string>
            <key>media_key_material</key>
            <string>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEY2IlhBYJKwYBBAHaRw8BAQdAiZEBwg3s/4BW0zshLs1xWjmQmKKe+OXmf58V
gUbIxMG0YU1lZGlhIEtleSAoQ3VydmUgMjU1MTkpIChNZWRpYSBrZXkgYmFzZWQg
b24gQ3VydmUgMjU1MTksIGZvciB1c2Ugd2l0aCBAcGVwdGVzdC5jaCkgPCpAcGVw
dGVzdC5jaD6IkAQTFggAOBYhBKEn6GygBCUbYs4LD13H1XksjBbvBQJjYiWEAhsD
BQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEF3H1XksjBbvwr0BALqV3Y54gpAr
FptEY4dSGq2b8iOymOy78G4BXI63scAMAP9/4RCeDMJttBPuy4fpL4LWKjPI2gSC
3OmT0qYAKDaIB7g4BGNiJYQSCisGAQQBl1UBBQEBB0DUtVcYM1xUpuKOUYzfoOg+
hEBadrSkpA46d7wfdFG1ZAMBCAeIeAQYFggAIBYhBKEn6GygBCUbYs4LD13H1Xks
jBbvBQJjYiWEAhsMAAoJEF3H1XksjBbvKKsA/iXCIXEtEJKQNcBmI0RepkPchFjg
GqGmDe87XO9MKxfsAP9+qhECg8U6OdOJSa+5aQv2iun0tN+wuy0zB2iYMoxOBg==
=amz+
-----END PGP PUBLIC KEY BLOCK-----
-----BEGIN PGP PRIVATE KEY BLOCK-----

lFgEY2IlhBYJKwYBBAHaRw8BAQdAiZEBwg3s/4BW0zshLs1xWjmQmKKe+OXmf58V
gUbIxMEAAP4pebdbsb3oJ4fjAmQMG2TEEzQ9k1yBFuo+UvhfvwX4+A/dtGFNZWRp
YSBLZXkgKEN1cnZlIDI1NTE5KSAoTWVkaWEga2V5IGJhc2VkIG9uIEN1cnZlIDI1
NTE5LCBmb3IgdXNlIHdpdGggQHBlcHRlc3QuY2gpIDwqQHBlcHRlc3QuY2g+iJAE
ExYIADgWIQShJ+hsoAQlG2LOCw9dx9V5LIwW7wUCY2IlhAIbAwULCQgHAgYVCgkI
CwIEFgIDAQIeAQIXgAAKCRBdx9V5LIwW78K9AQC6ld2OeIKQKxabRGOHUhqtm/Ij
spjsu/BuAVyOt7HADAD/f+EQngzCbbQT7suH6S+C1iozyNoEgtzpk9KmACg2iAec
XQRjYiWEEgorBgEEAZdVAQUBAQdA1LVXGDNcVKbijlGM36DoPoRAWna0pKQOOne8
H3RRtWQDAQgHAAD/R5d+BH9/ExTAVM43dfpxJRaeeTfPB804rUOgSG3D0WAPGoh4
BBgWCAAgFiEEoSfobKAEJRtizgsPXcfVeSyMFu8FAmNiJYQCGwwACgkQXcfVeSyM
Fu8oqwD+JcIhcS0QkpA1wGYjRF6mQ9yEWOAaoaYN7ztc70wrF+wA/36qEQKDxTo5
04lJr7lpC/aK6fS037C7LTMHaJgyjE4G
=w0DY
-----END PGP PRIVATE KEY BLOCK-----
                </string>
        </dict>
    </array>
    <key>pep_use_trustwords</key>
    <true/>
    <key>unsecure_delivery_warning</key>
    <true/>
    <key>pep_sync_folder</key>
    <true/>
    <key>debug_logging</key>
    <true/>
    <key>pep_enable_echo_protocol</key>
    <false/>
    <key>account_display_count</key>
    <integer>250</integer>
    <key>max_push_folders</key>
    <integer>25</integer>
    <key>account_description</key>
    <string>plancktest</string>
    <key>composition_settings</key>
    <dict>
        <key>composition_sender_name</key>
        <string>PLANCK QA TESTING</string>
        <key>composition_use_signature</key>
        <true/>
        <key>composition_signature</key>
        <string>--  Sent from my planck for iOS. </string>
        <key>composition_signature_before_quoted_message</key>
        <true/>
    </dict>
    <key>default_quoted_text_shown</key>
    <true/>
    <key>remote_search_enabled</key>
    <true/>
    <key>account_remote_search_num_results</key>
    <integer>50</integer>
    <key>pep_save_encrypted_on_server</key>
    <true/>
    <key>pep_enable_sync_account</key>
    <false/>
    <key>allow_pep_sync_new_devices</key>
    <false/>
    <key>pep_mail_settings</key>
    <dict>
        <key>account_email_address</key>
        <string>iostest017@planck.dev</string>
        <key>incoming_mail_settings</key>
        <dict>
            <key>incoming_mail_settings_server</key>
            <string>planck.dev</string>
            <key>incoming_mail_settings_security_type</key>
            <string>SSL/TLS</string>
            <key>incoming_mail_settings_port</key>
            <integer>993</integer>
            <key>incoming_mail_settings_user_name</key>
            <string>iostest017@planck.dev</string>
            <key>incoming_mail_settings_auth_type</key>
            <string>PLAIN</string>
        </dict>
        <key>outgoing_mail_settings</key>
        <dict>
            <key>outgoing_mail_settings_server</key>
            <string>planck.dev</string>
            <key>outgoing_mail_settings_security_type</key>
            <string>STARTTLS</string>
            <key>outgoing_mail_settings_port</key>
            <integer>587</integer>
            <key>outgoing_mail_settings_user_name</key>
            <string>iostest017@planck.dev</string>
            <key>outgoing_mail_settings_auth_type</key>
            <string>PLAIN</string>
        </dict>
    </dict>
</dict>
</plist>
