//  secret.xcconfig
//  pEpForiOS
//
//  Created by Alejandro Gelos on 01/02/2019.
//  Copyright © 2019 p≡p Security S.A. All rights reserved.
//

OAUTH2_GMAIL_CLIENT_ID = 690214278127-1c3u0nl90nd1nbt8a69a4fkrj65r2o6m.apps.googleusercontent.com
OAUTH2_GMAIL_REDIRECT_URL_SCHEME = com.googleusercontent.apps.690214278127-1c3u0nl90nd1nbt8a69a4fkrj65r2o6m

OAUTH2_YAHOO_CLIENT_ID = dj0yJmk9OUg4RVlsZVFmYnBkJmQ9WVdrOVUxTjVNMnQ0TlRRbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD0wNg--
OAUTH2_YAHOO_CLIENT_SECRET = 6cd4ae639ba1f15b73fcec9594b224e5c424837b
