//
//  TestData.swift
//  pEpForiOS
//
//  Created by Dirk Zimmermann on 07/04/16.
//  Copyright © 2016 p≡p Security S.A. All rights reserved.
//

import Foundation

public class TestData {

    public static var connectInfo: ConnectInfo =
        ConnectInfo.init(email: "email@email.test",
                         imapPassword: "pasword",
                         imapAuthMethod: "LOGIN", smtpAuthMethod: "PLAIN",
                         imapServerName: "some.host", imapServerPort: 993,
                         imapTransport: .TLS,
                         smtpServerName: "some.host", smtpServerPort: 587,
                         smtpTransport: .StartTLS)
}
