//
//  TestData.swift
//  pEpForiOS
//
//  Created by Dirk Zimmermann on 07/04/16.
//  Copyright © 2016 p≡p Security S.A. All rights reserved.
//

import Foundation

public class TestData {
    /**
    This must be an existing UID in the account `connectInfo`.
    */
    public static let existingUID: UInt = 10

    public static var connectInfo: ConnectInfo =
        ConnectInfo.init(email: "someemail@test.com",
                         imapPassword: "password",
                         imapServerName: "host.com", imapServerPort: 993,
                         imapTransport: .TLS,
                         smtpServerName: "host.com", smtpServerPort: 587,
                         smtpTransport: .StartTLS)
}
