//
//  UITestData.swift
//  pEpForiOS
//
//  Created by Dirk Zimmermann on 20/05/16.
//  Copyright © 2016 p≡p Security S.A. All rights reserved.
//

import Foundation

struct Account {
    var nameOfTheUser: String
    var email: String
    var imapServernameOfTheUser: String
    var smtpServernameOfTheUser: String
    var password: String
    var imapPort: Int
    var smtpPort: Int

    /**
     This unfortunately must correspond to the localized name on screen.
     */
    var imapTransportSecurityString: String

    /**
     This unfortunately must correspond to the localized name on screen.
     */
    var smtpTransportSecurityString: String
}

struct UITestData {
    static let workingAccount = Account.init(
        nameOfTheUser: "name",
        email: "email",
        imapServernameOfTheUser: "server", smtpServernameOfTheUser: "server",
        password: "password", imapPort: 993, smtpPort: 587,
        imapTransportSecurityString: "TLS", smtpTransportSecurityString: "StartTLS")

    static let workingYahooAccount = Account.init(
        nameOfTheUser: "name",
        email: "email",
        imapServernameOfTheUser: "server", smtpServernameOfTheUser: "server",
        password: "password", imapPort: 993, smtpPort: 587,
        imapTransportSecurityString: "TLS", smtpTransportSecurityString: "TLS")
}
