//
//  RELEASE.xcconfig
//  pEpForiOS
//
//  Created by Martín Brude on 13/10/22.
//  Copyright © 2022 p≡p Security S.A. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../pep_for_ios_intern/secret.xcconfig"

MDM_ENABLED = YES
