name: iOS Build Meta

on:
 workflow_dispatch:
  push:
  merge_group:
    branches:
      - develop

jobs:
 build-and-test:
  name: Build and Run Tests
  runs-on: macos-latest
  steps:
    - name: Select Xcode
      run: sudo Xcode-select -switch /Applications/Xcode.app
    - name: Build & Test
      run: xcodebuild clean build test -workspace planckForiOS.xcworkspace -scheme planckForiOS -destination 'platform=iOS Simulator,name=iPhone 15 pro Pro,OS=17.2'